@model Son_Hali.Models.Haber

@{
    Layout = null;
}
<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<script src="~/twitter-bootstrap/js/bootstrap.js"></script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <h4>Haber</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="HaberId" />
                <div class="form-group">
                    <label asp-for="Baslik" class="control-label"></label>
                    <input asp-for="Baslik" class="form-control" />
                    <span asp-validation-for="Baslik" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="İcerik" class="control-label"></label>
                    <input asp-for="İcerik" class="form-control" />
                    <span asp-validation-for="İcerik" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="SonDakika" /> @Html.DisplayNameFor(model => model.SonDakika)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="ResimYolu" class="control-label"></label>
                    <input asp-for="ResimYolu" class="form-control" />
                    <span asp-validation-for="ResimYolu" class="text-danger"></span>

                </div>
                <dd class="col-sm-10">
                    <img src="@("~/HaberResimleri/"+Model.ResimYolu)" asp-append-version="true" width="250" height="250px" />
                    <!--<video id="videoplayer" width="320" height="240" controls>
                        <source src="@("/HaberResimleri/"+Model.ResimYolu)"  type="video/mp4">-->
                        @*<source src="@("/HaberResimleri/"+Model.ResimYolu)" type="video/ogg">*@
                        <!--Your browser does not support the video tag.
                    </video>-->
                </dd>
                <div class="form-group">
                    <input type="submit" value="Kaydet" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Listeye Geri Dön</a>
    </div>

    @*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
</body>
</html>
