
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/GirişYap/GirisYap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width"/>
    <title>GirisYap</title>
</head>
<body>




    <form class="box" action="#" method="post">
        <h1>Giriş Yap</h1>
        <input type="text" name="KullanıcıAdı" placeholder="UserName" />
        <input type="password" name="Sİfre" placeholder="Password" />
        <input type="submit" name="" placeholder="Login" />
    </form>
</body>
</html>
